
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #f1f1f1;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.row:after{
	content: '';
	display: table;
	clear: both;
	
}


header {
	Display: Flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	background-color: #87CEEB;
	}
   
   img {
	max-width: 100%;
	height: auto;
	}


.left-column{
float: left;
width: 75%;	
margin-top: 40px;
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
 margin-top: 40px;
}
.card{
	padding: 20px;
	background-color: #ffffff;
 	margin-top:20px;
}

.card img{
	width: 100%;
}

.imagem{
	max-height: 70vh; /* Adjust the maximum height as needed */
    width: auto;
}

.imagem2{
	max-height: 65vh
}

.imagem6{
	max-height: 65vh;
	width: auto;

}

.titulo{
	font-size: 2rem;
	font-family: 'Bebas Neue', sans-serif;
}

.titulo1{
	font-size: 2rem;
	font-family: 'Bebas Neue', sans-serif;
}

.titulo2{
	font-size: 2rem;
	font-family: 'Bebas Neue', sans-serif;

}
.right-column .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

.footer-center{
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 50px
}

.card img {
    width: 90%; /* Diminuir a largura para 50% */
  }


  

@media screen and (max-width: 600px) {
  

	.card img {
		width: 100%; /* Diminuir a largura para 50% */
	  }

	  .titulo{
		text-align: center;
	  }
	  .texto1{
		text-align: center;
		
	  }
	  .texto2{
		text-align: center;
	  }

}

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

@media(max-width:600px){
	.footer-center{
		flex-direction: column;
		gap: -20px;
	}

	
}

